
body {
  background: #ffffff url("./bg/wbg.png") repeat;
}

br {
  padding-top: 8px;
}

.nav-bar-img {
  background: #ffffff url("./bg/t1.jpg") repeat;
}

.content-core {
  padding-top: 50px;
}

/****************************************************/
/*******                 MENU                 *******/
/****************************************************/

.menu {
  visibility: visible;
  opacity: 1;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #bbbabb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #bbbabb));
  width: 100%;
  height: 24px;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid #444444;
  box-shadow: 0 0 10px #141414;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menu ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 5px;
}

.menu-left li {
  float: left;
  padding: 2px 5px;
}

.menu-right li{
  float: right;
  padding: 2px 5px;
  margin-bottom: 0;
}

.menu ul li a {
  height: 24px;
  color: #111111;
  padding: 2px 0;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 1px 1px #dbdbdb;
  font-weight: 500;
}

.menu ul li a:hover {
  color: #fff;
  text-shadow: none;
}


footer {
  visibility: visible;
  opacity: 1;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #bbbabb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #bbbabb));
  width: 100%;
  height: 36px;
  z-index: 1000;
  border-bottom: 1px solid #444444;
  box-shadow: 0 0 10px #141414;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;


  text-align:center;
  position: absolute;
  bottom: 0;
}

footer p{
  height: 24px;
  color: #111111;
  padding: 2px 0;
  font-size: 22px;
  text-decoration: none;
  text-shadow: 0 1px 1px #dbdbdb;
  font-weight: 500;
}

.glass {
  padding: 10px;
  position: relative;
  min-height: 200px;

  border: 1px;

  border-left-style: solid;
  border-left-color: #dddddd;


  border-right-style: solid;
  border-right-color: #dddddd;


  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  filter: blur(3px);
}

.button {
  margin: 0 2px;
}

/****************************************************/
/*******                SIDEBAR               *******/
/****************************************************/

.sidebar {
  -moz-transition: right .1s;
  -webkit-transition: right .1s;
  -o-transition: right .1s;
  transition: left .1s;
  width: 100px;
  background-color: #222222;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -100px;
}

.slide-out {
  -moz-transition: right 1s;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: left 1s;
  right: 0;
}

/****************************************************/
/*******                WIDGET                *******/
/****************************************************/

.widget {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: transparent;
}

.widget i {
  color:#444444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); /* 50% white from bottom */
}

.widget-head, .widget-foot {
  opacity: 1;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #bbbabb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #bbbabb));
  width: 100%;
}
/* Widget head */

.widget .widget-head {

  color: #222222;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); /* 50% white from bottom */
  border-bottom: 0;
  padding: 3px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.widget-icon-btn {
  float: right;
  display: block;
  padding: 10px 2px;
}

/* Widget body */

.widget .widget-body {

  padding: 10px;
  position: relative;
  min-height: 100px;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dddddd;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dddddd;

  border-top-width: 0;
  border-bottom-width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  filter: blur(3px);
}

.widget .widget-body.no-pad {
  padding: 0;
}

/* Widget foot */

.widget .widget-foot {
  color: #222222;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); /* 50% white from bottom */
  padding: 8px 5px 5px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.widget.shadow {
  -moz-box-shadow:    3px 3px 3px 1px #777;
  -webkit-box-shadow: 3px 3px 3px 1px #777;
  box-shadow:         3px 3px 3px 1px #777;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}