<form-full-name></form-full-name>

<div class = "row">
	<div class = "col-md-6 col-sm-8 col-xs-12">
		<form-widget></form-widget>
	</div>
	<div class = "col-md-6 col-sm-8 col-xs-12">
		<script-form></script-form>
	</div>
</div>
<hr/>


<script type="text/ng-template" id="myForm.html">
	<div class = "widget shadow">
		<form role = "form" class = "form-horizontal" name = "demoForm" ng-submit = "submitForm()">
			<div class = "widget-head">
				<div class="row">
					<div class="col-xs-10">
						<h3><i class="fa fa-puzzle-piece"></i> Script Form Example</h3>
					</div>
					<div class="col-xs-2">
						<a widget-options class="widgetMinMax pull-right"><i class="fa fa-chevron-up fa-lg"></i></a>
					</div>
				</div>
			</div>
			<div class = "widget-body">
				<div class = "form-group">
					<label for = "firstName" class = "col-sm-3 control-label">First Name:</label>

					<div class = "col-sm-9">
						<input type = "text" class = "form-control" id = "firstName" placeholder = "First Name">
					</div>
				</div>
				<div class = "form-group">
					<label for = "lastName" class = "col-sm-3 control-label">Last Name:</label>

					<div class = "col-sm-9">
						<input type = "text" class = "form-control" id = "lastName" placeholder = "Last Name">
					</div>
				</div>
			</div>
			<div class = "widget-foot">
				<div class="row">
					<div class="col-xs-12">
						<button type = "submit" class = "button button-border button-rounded">Submit</button>
						<button type = "reset" class = "button button-border button-rounded">Clear</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>