<div class = "row">
	<div class = "col-md-6 col-sm-6 col-xs-12">
		<div ng-controller = "btnCtrl">
			<div class = "widget shadow">
				<div class = "widget-head">
					<div class="row">
						<div class="col-xs-10">
							<h4><i class="fa fa-wrench"></i> Button Press Count Example</h4>
						</div>
						<div class="col-xs-2">
							<a widget-options class="widget-icon-btn"><i class="fa fa-chevron-up fa-lg"></i></a>
						</div>
					</div>
				</div>
				<div class = "widget-body">
					<div class = "row">
						<div class = "col-xs-12">
							<div btn-event off = "primary" on = "action" class = "button button-block">PRESS ME</div>
						</div>
						<br/>

						<div class = "col-xs-12">
							<div btn-event off = "highlight" on = "caution" class = "button button-block">PRESS ME</div>
						</div>
						<br/>

						<div class = "col-xs-12">
							<div btn-event off = "royal" class = "button button-block">PRESS ME</div>
						</div>
						<br/>

						<div class = "col-xs-12">
							<div btn-event class = "button button-block">PRESS ME</div>
						</div>
					</div>
				</div>
				<div class = "widget-foot">
					<h4>Total Button Presses is <b>{{btn.total}}</b></h4>
				</div>
			</div>
		</div>
	</div>
</div>