<div class = "row">
	<div class = "col-md-6 col-sm-8 col-xs-12">
		<div class = "widget shadow">
			<form role = "form" class = "form-horizontal" name = "demoForm" ng-submit = "submitForm()">
				<div class = "widget-head">
					<div class="row">
						<div class="col-xs-11">
							<h3><i class="fa fa-puzzle-piece"></i> Form Example</h3>
						</div>
						<div class="col-xs-1">
							<a widget-options class="widgetMinMax"><i class="fa fa-chevron-up fa-lg"></i></a>
						</div>
					</div>
				</div>
				<div class = "widget-body">
					<div class = "form-group">
						<label for = "inputEmail3" class = "col-sm-2 control-label">Email</label>

						<div class = "col-sm-10">
							<input type = "email" class = "form-control" id = "inputEmail3" placeholder = "Email">
						</div>
					</div>
					<div class = "form-group">
						<label for = "inputPassword3" class = "col-sm-2 control-label">Password</label>

						<div class = "col-sm-10">
							<input type = "password" class = "form-control" id = "inputPassword3" placeholder = "Password">
						</div>
					</div>
				</div>
				<div class = "widget-foot">
					<button type = "submit" class = "button button-rounded">Submit</button>
					<button type = "reset" class = "button button-rounded">Clear</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr/>