<div class="row">
	<div class="col-md-2 col-sm-1"></div>
	<div class="col-md-8 col-sm-10">
		<div class="glass">
			<hello name="John Williams"></hello>
		</div>
	</div>
	<div class="col-md-2 col-sm-1"></div>
</div>
<hr/>
<div class="row">
	<div class="col-md-2 col-sm-1"></div>
	<div class="col-md-8 col-sm-10">
		<div class="glass">
			<hello-attribute name="Michael Jordan" message="Nice Shoes.."></hello-attribute>
		</div>
	</div>
	<div class="col-md-2 col-sm-1"></div>
</div>
<hr/>
<div class="row">
	<div class="col-md-2 col-sm-1"></div>
	<div class="col-md-8 col-sm-10">
		<div class="glass">
			<hello-extended name="Dan Smith"></hello-extended>
		</div>
	</div>
	<div class="col-md-2 col-sm-1"></div>
</div>