<!-- DOCK -->
<div class="dock">
	<ul>
		<li id="finderr">
			<a href="#/warning" data-rel="showOp">
				<em><span>Finder</span></em>
				<img src="img/FinderIcon.png" alt="Finder"/>
			</a>
		</li>
		<li id="launchPad">
			<a href="#/warning" data-rel="showOp">
				<em><span>Launchpad</span></em>
				<img src="img/launchPad.png" alt="Launchpad"/>
			</a>
		</li>
		<li id="expose">
			<a href="#/warning" data-rel="showOp">
				<em><span>Mission Control</span></em>
				<img src="img/expose.png" alt="Mission Control"/>
			</a>
		</li>
		<li id="appStore">
			<a href="#/warning" data-rel="showOp">
				<em><span>App Store</span></em>
				<img src="img/appstore.png" alt="App Store"/>
			</a>
		</li>
		<li id="safari">
			<a href="#/warning" data-rel="showOp">
				<em><span>Safari</span></em>
				<img src="img/Safari.png" alt="Safari"/>
			</a>
		</li>
		<li id="facetime">
			<a href="#/warning" data-rel="showOp">
				<em><span>FaceTime</span></em>
				<img src="img/facetime.png" alt="Facetime"/>
			</a>
		</li>
		<li id="addressBook">
			<a href="#/warning" data-rel="showOp">
				<em><span>Address Book</span></em>
				<img src="img/address.png" alt="Address Book"/>
			</a>
		</li>
		<li id="preview">
			<a href="#/warning" data-rel="showOp">
				<em><span>Preview</span></em>
				<img src="img/preview.png" alt="Preview"/>
			</a>
		</li>
		<li id="iTunes">
			<a href="#/warning" data-rel="showOp">
				<em><span>iTunes</span></em>
				<img src="img/iTunes.png" alt="iTunes"/>
			</a>
		</li>
		<li id="preferences">
			<a href="#/warning" data-rel="showOp">
				<em><span>System Preferences</span></em>
				<img src="img/preferences.png" alt="System Preferences"/>
			</a>
		</li>
		<li id="trash">
			<a href="#/trash" data-rel="showOpTrash">
				<em><span>Trash</span></em>
				<img src="img/trash.png" alt="Trash"/>
			</a>
		</li>
	</ul>
</div>