<div class = "menu">
	<ul class = "menu-left">
		<li>
			<div class="btn-group" dropdown is-open="status.isopen">
				<a class="dropdown-toggle">
					 Examples <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/start" ng-click="hideCounter()">Home Page </a></li>
					<li><a href="#/demo1" ng-click="hideCounter()">Example 01</a></li>
					<li><a href="#/demo2" ng-click="hideCounter()">Example 02</a></li>
					<li><a href="#/demo3" ng-click="hideCounter()">Example 03</a></li>
					<li><a href="#/demo4" ng-click="showCounter()">Example 04</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<ul class = "menu-right">
		<li side-menu>
			<a id = "right-menu" href = "#right-menu">
				<i class = "fa fa-align-justify"></i>
			</a>
		</li>
		<li clock>
			<a href = "#">{{dateTime | date:'short'}}</a>
		</li>
	</ul>
</div>