<div class="navbar navbar-inverse navbar-fixed-top nav-bar-img" role="navigation">
	<div class="container" ng-model="projectName">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{projectName}}</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/demo1">Demo1</a></li>
				<li><a href="#/demo2">Demo2</a></li>
				<li><a href="#/demo3">Demo3</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>