<nav id = "menu" class="vis">
	<ul>
		<li class="here">
			<a href = "#all">File</a>
			<ul class = "sublist">
				<li>New Finder Window</li>
				<li>New Folder</li>
				<li class = "disable">New Folder with Selection</li>
				<li>New Smart Folder</li>
				<li>New Burn Folder</li>
				<li class = "disable">Open</li>
				<li class = "disable">Open With
					<span class = "arrow"></span>
				</li>
				<li class = "disable">Print</li>
				<li class = "disable">Close Window</li>
				<li class = "divider"></li>
				<li>Get Info</li>
				<li class = "divider"></li>
				<li class = "disable">Compress</li>
				<li class = "divider"></li>
				<li class = "disable">Duplicate</li>
				<li class = "disable">Make Alias</li>
				<li class = "disable">Quick Look</li>
				<li class = "disable">Show Original</li>
				<li class = "disable">Add to Sidebar</li>
				<li class = "divider"></li>
				<li class = "disable">Move to Trash</li>
				<li class = "disable">Eject</li>
				<li>Burn "Desktop" to Disc...</li>
				<li class = "divider"></li>
				<li>Find</li>
				<li class = "divider"></li>
				<li class = "disable">Label:</li>
			</ul>
		</li>
		<li>
			<a href = "#all">Edit</a>
			<ul class = "sublist">
				<li class = "disable">Undo</li>
				<li class = "disable">Redo</li>
				<li class = "divider"></li>
				<li class = "disable">Cut</li>
				<li class = "disable">Copy</li>
				<li class = "disable">Paste</li>
				<li>Select All</li>
				<li class = "divider"></li>
				<li>Show Clipboard</li>
				<li class = "divider"></li>
				<li>Special Characters...</li>
			</ul>
		</li>
		<li>
			<a href = "#all">View</a>
			<ul class = "sublist">
				<li class = "disable">as Icons</li>
				<li class = "disable">as List</li>
				<li class = "disable">as Columns</li>
				<li class = "disable">as Cover Flow</li>
				<li class = "divider"></li>
				<li>Clean Up</li>
				<li>Clean Up By
					<span class = "arrow"></span>
					<ul class = "sublist-menu">
						<li>Name</li>
						<li>Kind</li>
						<li>Date Modified</li>
						<li>Date Created</li>
						<li>Size</li>
						<li>Label</li>
					</ul>
				</li>
				<li>Sort By
					<span class = "arrow"></span>
					<ul class = "sublist-menu">
						<li>None</li>
						<li class = "divider"></li>
						<li>Snap to Grid</li>
						<li class = "divider"></li>
						<li>Name</li>
						<li>Kind</li>
						<li>Date Last Opened</li>
						<li>Date Added</li>
						<li>Date Modified</li>
						<li>Date Created</li>
						<li>Size</li>
						<li>Label</li>
					</ul>
				</li>
				<li class = "divider"></li>
				<li class = "disable">Hide Path Bar</li>
				<li class = "disable">Hide Status Bar</li>
				<li class = "disable">Hide Sidebar</li>
				<li class = "divider"></li>
				<li class = "disable">Toolbar</li>
				<li class = "disable">Customize Toolbar...</li>
				<li class = "divider"></li>
				<li>Show View Options...</li>
			</ul>
		</li>
		<li>
			<a href = "#all">Go</a>
			<ul class = "sublist">
				<li class = "disable">Back</li>
				<li class = "disable">Forward</li>
				<li>Enclosing Folder</li>
				<li class = "divider"></li>
				<li>All My Files</li>
				<li>Documents</li>
				<li>Desktop</li>
				<li>Downloads</li>
				<li>Home</li>
				<li>Computer</li>
				<li>AirDrop</li>
				<li>Network</li>
				<li>Applications</li>
				<li>Utilities</li>
				<li class = "divider"></li>
				<li>Recent Folders
					<span class = "arrow"></span>
					<ul class = "sublist-menu">
						<li>2012-01-10</li>
						<li>Archieves</li>
						<li>buildFiles</li>
						<li>MyProjects</li>
						<li>XCode_iPhone</li>
						<li class = "divider"></li>
						<li>Clear Menu</li>
					</ul>
				</li>
				<li class = "divider"></li>
				<li>Go to Folder...</li>
				<li>Connect to Server...</li>
			</ul>
		</li>
		<li>
			<a href = "#all">Window</a>
			<ul class = "sublist">
				<li class = "disable">Minimize</li>
				<li class = "disable">Zoom</li>
				<li class = "disable">Cycle Through Windows</li>
				<li class = "divider"></li>
				<li>Bring All to Front</li>
			</ul>
		</li>
		<li><a href = "#all">Help</a></li>
	</ul>
</nav>
<nav id = "menu-dx">
	<ul>
		<li class = "time">
			<ul>
				<li id = "DateAbbr"></li>
				<li class = "hour"></li>
				<li class = "point">:</li>
				<li class = "mins"></li>
			</ul>
		</li>
		<li class = "username">
			<a href = "#all">{{user.name}}</a>
		</li>
	</ul>
</nav>