<div class = "widget shadow">
	<form role = "form" class = "form-horizontal" name = "demoForm" ng-submit = "submitForm()">
		<div class = "widget-head">
			<div class="row">
				<div class="col-xs-10">
					<h3><i class="fa fa-puzzle-piece"></i> External Form Example</h3>
				</div>
				<div class="col-xs-2">
					<a widget-options class="widgetMinMax pull-right"><i class="fa fa-chevron-up fa-lg"></i></a>
				</div>
			</div>
		</div>
		<div class = "widget-body">
			<div class = "form-group">
				<label for = "inputEmail" class = "col-sm-2 control-label">Email</label>

				<div class = "col-sm-10">
					<input type = "email" class = "form-control" id = "inputEmail" placeholder = "Email">
				</div>
			</div>
			<div class = "form-group">
				<label for = "inputPassword3" class = "col-sm-2 control-label">Password</label>

				<div class = "col-sm-10">
					<input type = "password" class = "form-control" id = "inputPassword3" placeholder = "Password">
				</div>
			</div>
		</div>
		<div class = "widget-foot">
			<div class="row">
				<div class="col-xs-12">
					<button type = "submit" class = "button button-border button-rounded">Submit</button>
					<button type = "reset" class = "button button-border button-rounded">Clear</button>
				</div>
			</div>
		</div>
	</form>
</div>